.theme-dark {
    background-color: $colour-dark;
    color: $colour-light;
}
.theme-light {
    background-color: $colour-light;
    color: $colour-dark;
}

.div-fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
}
.block-fixed {
    @extend .div-fill;
    display: block;
    position: fixed;
}
.block-absolute {
    @extend .div-fill;
    display: block;
    position: absolute;
}
.flex-fixed {
    @extend .div-fill;
    display: flex;
    position: fixed;
}
.flex-absolute {
    @extend .div-fill;
    display: flex;
    position: absolute;
}

.flex-centerer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.flex-column-set {
    display: flex;
    flex-direction: row;
}
.flex-column-set > * {
    flex: 1 1 auto;
}

.hidden {
    visibility: hidden;
}

.list-none, .list-none > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.secondary {
    font-size: small;
}
.theme-light .secondary {
    color: lighten($colour-dark, 30%);
}
.theme-dark .secondary {
    color: darken($colour-light, 30%);
}

.table {
    display: table;
}
.table > * {
    display: table-row;
}
.table > * > * {
    display: table-cell;
}

.control {
    user-select: none;
    cursor: default;
}
.control.disabled {
    cursor: default !important;
}
.control-text {
    @extend .control;
    user-select: text;
    cursor: text;
}
.control-clickable {
    @extend .control;
    cursor: pointer;
}
