#main {
    @extend .block-fixed;
    @extend .theme-dark;
    right: 33%;
    z-index: $zindex-main;
}

#sidebar {
    @extend .flex-fixed;
    @extend .theme-light;
    flex-direction: column;
    left: auto;
    width: 33%;
    z-index: $zindex-sidebar;
}
#sidebar > div {
    position: relative;
    overflow: visible;
}
#sidebar > div:last-child {
    flex: 1 1 auto;
}

#main > div {
    @extend .block-absolute;
    z-index: $zindex-main;
}

@media (min-width: map-get($responsive-breakpoints, "xxl")) {
    #main {
        right: 528px;
    }
    #sidebar {
        width: 528px;
    }
}
