#main {
    @extend .block-fixed;
    right: 33%;
    z-index: $zindex-main;
}

#sidebar {
    @extend .flex-fixed;
    flex-direction: column;
    left: auto;
    width: 33%;
    z-index: 2;
    background-color: $gray-lighter;
}
#sidebar > div {
    flex: 1 1 auto;
    position: relative;
    overflow: visible;
}

#main, #sidebar {
    transition: right 120ms ease-out;
}

@media (max-width: map-get($grid-breakpoints, "lg") - 1px) {
    #main {
        right: 48px;
    }
    #sidebar {
        width: 330px;
    }
    #sidebar.inactive:not(:hover) {
        right: 48px - 330px;
    }
}

@media (min-width: map-get($grid-breakpoints, "xxl")) {
    #main {
        right: 528px;
    }
    #sidebar {
        width: 528px;
    }
}
