#sidebar {
    @extend .block-fixed;
    display: flex;
    flex-direction: column;
    left: auto;
    width: 33%;
    z-index: 2;
    background-color: $gray-lighter;
    transition: 100ms ease-out;
}

@media (max-width: map-get($grid-breakpoints, "lg") - 1px) {
    #sidebar {
        width: 330px;
    }
    #sidebar.inactive:not(:hover) {
        right: 48px - 330px;
    }
}

@media (min-width: map-get($grid-breakpoints, "xxl")) {
    #sidebar {
        width: 528px;
    }
}

#sidebar > div {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}
