// Colours
$colour-black:      #000000;
$colour-dark:       #292f36;
$colour-medium:     #bcbcbc;
$colour-light:      #e5e5e5;
$colour-lighter:    #f2f2f2;
$colour-white:      #ffffff;
$colour-positive:   #4ecdc4;
$colour-negative:   #ff6b6b;

// Go Specific Variables
$go-stone-diameter:         22mm;
$go-board-size-min:         9;
$go-board-size-max:         19;

// View Parameters
$text-box-padding-vertical:    0.6rem;
$text-box-padding-horizontal:  0.6rem;

$view-sidebar-right-margin:                 28px;
$view-go-clock-segment-off:                 darken($colour-dark, 2%);
$view-go-clock-segment-on:                  $colour-light;
$view-go-clock-width:                       240px;
$view-go-clock-height:                      86px;

// Z-indices
$zindex-main:               1;
$zindex-sidebar:            $zindex-main + 100;
$zindex-lightbox:           2000;

// Responsive Breakpoints
$responsive-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);
