// Sass Configuration Partial
@import "variables";

// Dependency: Font-Awesome
@import "font-awesome";

// KGS Leben
@import "reset";
@import "classes";
@import "layout";

// Rolled up Views Partial
/* __views.scss is produced by Gulp in its temporary working directory
   by concatenating all the Sass scripts nested inside the 'views' directory. */
@import "../views/_views";
