<section data-view="home-main">
    <div class="home-main">
        <div class="user-info">
            <div>
                <img class="avatar" src="img/avatar-default.png" title=""></img>
                <p class="name">
                    <span></span>
                    <span class="secondary"></span>
                </p>
            </div>
            <div>
                <img class="rank-graph" src="img/Rank Graph (placeholder).png" title="Rank Graph"></img>
            </div>
        </div>
        <h2 class="secondary">Adjourned Games</h2>
        <p class="secondary">In the event that the user has some unfinished or adjourned rated games, they will be listed here. This will enable the user to quickly resume adjourned games or resign them.</p>
        <h2 class="secondary">Recent Games</h2>
        <p class="secondary">The user's recent games will be listed here and they will be able to download the SGF files for those games or load the game record in a room.</p>
    </div>
</section>
