ul[is="channel-list"] {
    @extend .list-none;
    margin: 16px 28px 16px -6px;
}

ul[is="channel-list"] > li {
    padding: 2px 0 2px 6px;
    border-left: 6px solid $gray-light;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

ul[is="channel-list"] > li:hover {
    border-left-color: $gray;
    background-color: $gray-lightest;
}

ul[is="channel-list"] > li.active,
ul[is="channel-list"] > li.active:hover {
    background-color: $gray-lightest;
    border-left-color: $brand-warning;
    font-weight: bold;
}

ul[is="channel-list"] > li:before {
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 10px;
}

ul[is="channel-list"] > li.kgs-info,
ul[is="channel-list"] > li.kgs-info:hover {
    border-left-color: $brand-info;
}
ul[is="channel-list"] > li.kgs-info:before {
    color: $brand-info;
}

ul[is="channel-list"] > li.kgs-warning,
ul[is="channel-list"] > li.kgs-warning:hover {
    border-left-color: $brand-warning;
}
ul[is="channel-list"] > li.kgs-warning:before {
    color: $brand-warning;
}

ul[is="channel-list"] > li.kgs-room:before {
    content: "\f0c0"; /* fa-users */
}
ul[is="channel-list"] > li.kgs-list:before {
    content: "\f00a"; /* fa-th */
}
ul[is="channel-list"] > li.kgs-conversation:before {
    content: "\f075"; /* fa-comment */
}
ul[is="channel-list"] > li.kgs-conversation.kgs-info:before {
    content: "\f27a"; /* fa-commenting */
}
ul[is="channel-list"] > li.kgs-game:before {
    content: "\f111"; /* fa-circle */
}

chat-form > div {
    @extend .block-absolute;
    bottom: 3rem;
}

chat-form > form {
    @extend .block-absolute;
    height: 3rem;
    top: auto;
}
chat-form > form > input[type="text"] {
    height: 3rem;
    border-radius: 0;
}

ul[is="chat-member-list"] {
    @extend .list-none;
    @extend .block-absolute;
    width: 40%;
    left: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

ul[is="chat-member-list"] li span:nth-child(2) {
    margin-left: 0.5rem;
    white-space: nowrap;
    font-size: small;
    color: $gray;
    cursor: default;
}

ul[is="chat-member-list"] li {
    margin-left: 0.4rem;
}

lightbox-container {
    @extend .block-fixed;
    background-color: rgba($gray-dark, 0.85);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYlW2OwQ0AMAgCbw7XcMFubj81RVpeGgIcQHK1gJC/+shjtkLNTmpTaZMm05IB76YzfTedaW46k28Opg1VYQ5hW3JdzwAAAABJRU5ErkJggg==);
    z-index: $zindex-lightbox;
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}

lightbox-container.hidden {
    opacity: 0;
}

lightbox-container > div {
    @extend .center;
    @extend .jumbotron;
    @media (min-width: 38em) {
        max-width: 36rem;
    }
}

ul[is="chat-message-list"] {
    @extend .list-none;
    @extend .block-absolute;
    height: auto;
    top: auto;
    max-height: 100%;
    width: 60%;
    right: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

ul[is="chat-message-list"] > li > p {
    margin: 0;
}
ul[is="chat-message-list"] > li > p + p {
    margin-top: 1rem;
}

ul[is="chat-message-list"] li {
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
}
ul[is="chat-message-list"] li span:first-child {
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
}
ul[is="chat-message-list"] li span:nth-child(2) {
    margin-left: 0.5rem;
    white-space: nowrap;
    font-size: small;
    color: $gray;
    cursor: default;
}
ul[is="chat-message-list"] li span:nth-child(2) {
    cursor: help;
}

sign-in-form form {
    max-width: 360px;
    padding: 30px;
    margin: 0 auto;
}

sign-in-form h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

sign-in-form input[name=username], sign-in-form input[name=password] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
}

sign-in-form .checkbox label {
    margin: 0.5rem 0;
}

sign-in-form button[type=submit] {
    margin: 2rem 0 2rem;
}
