div.game-list tbody td {
    @extend .control-clickable;
    padding: 4px;
}

div.game-list tbody tr:nth-child(odd) {
    background-color: lighten($colour-dark, 5%);
}

div.game-list tbody tr:hover {
    background-color: lighten($colour-dark, 10%);
}

div.game-list tbody td span {
    margin-right: 0.5rem;
}

div.game-list tbody td span:before {
    margin-right: 0.4rem;
}

div.game-list tbody td:nth-child(5) {
    text-align: right;
}
