ul.channel-list {
    @extend .list-none;
    margin: 16px 28px 16px -6px;
}

ul.channel-list > li {
    position: relative;
    padding: 2px 0 2px 6px;
    border-left: 6px solid $gray-light;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

ul.channel-list > li:hover {
    border-left-color: $gray;
    background-color: $gray-lightest;
}

ul.channel-list > li.active,
ul.channel-list > li.active:hover {
    background-color: $gray-lightest;
    border-left-color: $brand-warning;
    font-weight: bold;
}

ul.channel-list > li:before {
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 10px;
}

ul.channel-list > li.kgs-info,
ul.channel-list > li.kgs-info:hover {
    border-left-color: $brand-info;
}
ul.channel-list > li.kgs-info:before {
    color: $brand-info;
}

ul.channel-list > li.kgs-warning,
ul.channel-list > li.kgs-warning:hover {
    border-left-color: $brand-warning;
}
ul.channel-list > li.kgs-warning:before {
    color: $brand-warning;
}

ul.channel-list > li.kgs-room:before {
    content: "\f0c0"; /* fa-users */
}
ul.channel-list > li.kgs-list:before {
    content: "\f00a"; /* fa-th */
}
ul.channel-list > li.kgs-conversation:before {
    content: "\f075"; /* fa-comment */
}
ul.channel-list > li.kgs-conversation.kgs-info:before {
    content: "\f27a"; /* fa-commenting */
}
ul.channel-list > li.kgs-game:before {
    content: "\f111"; /* fa-circle */
}

ul.channel-list span.btn-close {
    @extend .block-absolute;
    left: auto;
    padding: 0 0.5rem 0 0.2rem;
    opacity: 0;
    transition: opacity 100ms;
}
ul.channel-list > li:hover span.btn-close {
    opacity: 1;
}
ul.channel-list span.btn-close:hover {
    opacity: 1;
    color: $brand-danger;
}
ul.channel-list span.btn-close:before {
    font-family: FontAwesome;
    content: "\f00d";
}
