$view-safety-button-thumb-width: 32px;

.safety-button {
    display: block;
    overflow: hidden;
}

.safety-button > div {
    display: block;
    float: left;
}

.safety-button .fa-thumbs-up {
    background-color: $colour-positive;
}
.safety-button.danger .fa-thumbs-up {
    background-color: $colour-negative;
}

.safety-button > div.button:not(:first-child) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 2px;
    width: $view-safety-button-thumb-width;
    visibility: hidden;
    opacity: 0;
    transition: visibility 100ms ease-in-out, opacity 100ms ease-in-out;
}
.safety-button.primed > div.button:not(:first-child) {
    visibility: visible;
    opacity: 1;
}
