ul.sidebar-menu {
    @extend .list-none;
    margin: 16px $view-sidebar-right-margin 16px -6px;
}

ul.sidebar-menu > li {
    @extend .control-clickable;
    position: relative;
    padding: 4px 0 4px 6px;
    border-left: 6px solid $colour-medium;
    white-space: nowrap;
}

ul.sidebar-menu > li:hover {
    border-left-color: darken($colour-medium, 5%);
    background-color: $colour-lighter;
}

ul.sidebar-menu > li.active,
ul.sidebar-menu > li.active:hover {
    border-left-color: $colour-negative;
    background-color: $colour-lighter;
    font-weight: bold;
}

ul.sidebar-menu > li:before {
    width: 1rem;
    margin-right: 8px;
    text-align: center;
}

ul.sidebar-menu span.btn-close {
    @extend .block-absolute;
    left: auto;
    padding: 4px;
    opacity: 0;
    transition: opacity 100ms;
}
ul.sidebar-menu > li:hover span.btn-close {
    opacity: 1;
}
ul.sidebar-menu span.btn-close:hover {
    opacity: 1;
    color: $colour-negative;
}
