ul.sidebar-menu {
    @extend .list-none;
    margin: 16px $view-sidebar-right-margin 16px -6px;
}

ul.sidebar-menu > li {
    position: relative;
    padding: 2px 0 2px 6px;
    border-left: 6px solid $gray-light;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

ul.sidebar-menu > li:hover {
    border-left-color: $gray;
    background-color: $gray-lightest;
}

ul.sidebar-menu > li.active,
ul.sidebar-menu > li.active:hover {
    background-color: $gray-lightest;
    border-left-color: $brand-warning;
    font-weight: bold;
}

ul.sidebar-menu > li:before {
    width: 1rem;
    margin-right: 8px;
    text-align: center;
}

ul.sidebar-menu > li.kgs-info,
ul.sidebar-menu > li.kgs-info:hover {
    border-left-color: $brand-info;
}
ul.sidebar-menu > li.kgs-info:before {
    color: $brand-info;
}

ul.sidebar-menu > li.kgs-warning,
ul.sidebar-menu > li.kgs-warning:hover {
    border-left-color: $brand-warning;
}
ul.sidebar-menu > li.kgs-warning:before {
    color: $brand-warning;
}

ul.sidebar-menu span.btn-close {
    @extend .block-absolute;
    left: auto;
    padding: 0 0.5rem 0 0.2rem;
    opacity: 0;
    transition: opacity 100ms;
}
ul.sidebar-menu > li:hover span.btn-close {
    opacity: 1;
}
ul.sidebar-menu span.btn-close:hover {
    opacity: 1;
    color: $brand-danger;
}
