<section data-view="go-board-player">
    <div class="go-board-player">
        <div class="player-info">
            <img class="avatar" src="img/avatar-default.png" title=""></img>
            <div>
                <div class="name">&nbsp;</div>
                <div class="secondary">&nbsp;</div>
                <img class="stone" src="img/stone-black.png" title=""></img>
            </div>
        </div>
        <div class="player-stats">
            <div class="score-info">
                <div>
                    <span>prisoners</span>
                    <span class="capture-count">0</span>
                    <span></span>
                </div>
                <div>
                    <span class="komi-caption"></span>
                    <span class="komi-base"></span>
                    <span class="komi-half"></span>
                </div>
            </div>
        </div>
    </div>
</section>
