.lcd-display, .lcd-display svg {
    display: inline-block;
    position: relative;
    overflow: hidden;
    fill: $view-go-clock-segment-off;
}

.lcd-display svg {
    height: 3rem;
    stroke-width: 0;
}

.lcd-display svg .segment-on {
    fill: $view-go-clock-segment-on;
}
