.game-proposal form {
    @extend .theme-dark;
    max-width: 600px;
    padding: 30px;
    background-color: rgba($colour-dark, 0.8);
    border-radius: 12px;
}

.game-proposal form h3 {
    display: inline-block;
    background-color: $colour-dark;
    margin-top: 1em;
    margin-left: -1.5em;
    padding: 0.4em 1.5em;
    width: 12em;
    font-size: smaller;
}

.game-proposal form .left-column {
    width: 50%;
    float: left;
}
.game-proposal form .right-column {
    width: 50%;
    float: right;
}

.game-proposal form button {
    float: right;
    clear: both;
    width: 10em;
}

.game-proposal form .form-group {
    overflow: hidden;
    margin: 0 1.6em 0 0;
    opacity: 1;
    transition: opacity 160ms ease-in-out, visibility 160ms ease-in-out;
}
.game-proposal form .form-group.hidden {
    opacity: 0;
    visibility: hidden;
}

.game-proposal form .switch + .form-group {
    margin-top: 1rem;
}

.game-proposal form .form-group label, .game-proposal form .form-group input {
    box-sizing: border-box;
}

.game-proposal form .form-group label {
    width: 40%;
    float: left;
    text-align: right;
    border: 1px solid transparent;
    padding: $text-box-padding-vertical 0.8em $text-box-padding-vertical 0;
    vertical-align: middle;
    color: $colour-light;
}
.game-proposal form .form-group input {
    width: 60%;
    float: right;
}
