lightbox-container .lightbox {
    @extend .block-fixed;
    background-color: rgba($gray-dark, 0.85);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYlW2OwQ0AMAgCbw7XcMFubj81RVpeGgIcQHK1gJC/+shjtkLNTmpTaZMm05IB76YzfTedaW46k28Opg1VYQ5hW3JdzwAAAABJRU5ErkJggg==);
    z-index: $zindex-lightbox;
    transition: visibility 200ms linear, opacity 200ms ease-in-out;
    visibility: visible;
}

lightbox-container .lightbox-container {
    @extend .center;
    @extend .jumbotron;
    @media (min-width: 38em) {
        max-width: 36rem;
    }
}
