div.lightbox {
    @extend .block-fixed;
    background-color: rgba($colour-dark, 0.85);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYlW2OwQ0AMAgCbw7XcMFubj81RVpeGgIcQHK1gJC/+shjtkLNTmpTaZMm05IB76YzfTedaW46k28Opg1VYQ5hW3JdzwAAAABJRU5ErkJggg==);
    z-index: $zindex-lightbox;
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}

div.lightbox.hidden {
    opacity: 0;
}

div.lightbox-container {
    @extend .theme-light;
    margin: 40px auto 0;

    @media (min-width: 38em) {
        max-width: 36rem;
    }
}
