ul[is="sidebar-context-list"] {
    @extend .list-none;
    margin: 16px 28px 16px -6px;
}

ul[is="sidebar-context-list"] > li {
    padding: 2px 0 2px 6px;
    border-left: 6px solid $gray-light;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

ul[is="sidebar-context-list"] > li:hover {
    border-left-color: $gray;
    background-color: $gray-lightest;
}

ul[is="sidebar-context-list"] > li.active,
ul[is="sidebar-context-list"] > li.active:hover {
    background-color: $gray-lightest;
    border-left-color: $brand-warning;
    font-weight: bold;
}

ul[is="sidebar-context-list"] > li:before {
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 10px;
}

ul[is="sidebar-context-list"] > li.kgs-info,
ul[is="sidebar-context-list"] > li.kgs-info:hover {
    border-left-color: $brand-info;
}
ul[is="sidebar-context-list"] > li.kgs-info:before {
    color: $brand-info;
}

ul[is="sidebar-context-list"] > li.kgs-warning,
ul[is="sidebar-context-list"] > li.kgs-warning:hover {
    border-left-color: $brand-warning;
}
ul[is="sidebar-context-list"] > li.kgs-warning:before {
    color: $brand-warning;
}

ul[is="sidebar-context-list"] > li.kgs-room:before {
    content: "\f0c0"; /* fa-users */
}
ul[is="sidebar-context-list"] > li.kgs-list:before {
    content: "\f00a"; /* fa-th */
}
ul[is="sidebar-context-list"] > li.kgs-conversation:before {
    content: "\f075"; /* fa-comment */
}
ul[is="sidebar-context-list"] > li.kgs-conversation.kgs-info:before {
    content: "\f27a"; /* fa-commenting */
}
ul[is="sidebar-context-list"] > li.kgs-game:before {
    content: "\f111"; /* fa-circle */
}
