ul.chat-message-list {
    @extend .list-none;
    @extend .block-absolute;
    height: auto;
    top: auto;
    max-height: 100%;
    width: 60%;
    right: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

ul.chat-message-list > li > p {
    margin: 0;
}
ul.chat-message-list > li > p + p {
    margin-top: 1rem;
}

ul.chat-message-list li {
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
}
ul.chat-message-list li span:first-child {
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
}
ul.chat-message-list li span:nth-child(2) {
    margin-left: 0.5rem;
    white-space: nowrap;
    cursor: help;
}
