.go-clock {
    display: block;
    position: relative;
    overflow: hidden;
    width: $view-go-clock-width;
}

.go-clock > .lcd-clock {
    float: left;
}
.go-clock > .lcd-display {
    float: right;
}
.go-clock > .lcd-counter {
    float: right;
    margin-right: 7px;
}

.go-clock.expired .lcd-clock .lcd-clock-separator svg, .go-clock.expired svg .segment-on {
    fill: $brand-warning;
}
