form.sign-in-form {
    max-width: 360px;
    padding: 30px;
    margin: 0 auto;
}

form.sign-in-form h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

form.sign-in-form input[name=username], form.sign-in-form input[name=password] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
}

form.sign-in-form .checkbox label {
    margin: 0.5rem 0;
}

form.sign-in-form button[type=submit] {
    margin: 2rem 0 2rem;
}
