.sign-in-form {
    overflow: hidden;
    max-width: 280px;
    padding: 42px;
    margin: 42px auto;
}

.sign-in-form h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.sign-in-form input[name=username], form.sign-in-form input[name=password] {
    width: 100%;
    font-size: 18px;
}

.sign-in-form .checkbox {
    margin-top: 16px;
}

.sign-in-form .checkbox label {
    margin: 0.5rem 0;
}

.sign-in-form button[type=submit] {
    margin: 2rem 0 2rem;
    float: right;
}

.sign-in-form .error-notice, .sign-in-form .remember-me-warning {
    color: $colour-negative;
}
.sign-in-form .remember-me-warning {
    font-size: small;
    font-style: oblique;
}
