<template data-component-tag="sign-in-form" data-component-prototype="SignInForm">
    <form>
        <h2>Sign in to KGS</h2>
        <p class="error-notice text-warning" style="display:none"></p>
        <input type="text" name="username" placeholder="KGS username" required autofocus autocomplete="off">
        <input type="password" name="password" placeholder="KGS password" required autocomplete="off">
        <div class="checkbox">
            <label><input type="checkbox" name="remember-me" value="remember-me" autocomplete="off"> Sign in automatically</label>
            <p class="remember-me-warning text-warning" style="display:none">For security reasons, this feature will only work if your browser remembers your password and supplies it for use in the future.</p>
        </div>
        <button class="btn-lg btn-block" type="submit" autocomplete="off">Sign in</button>
    </form>
</template>