.kgs-chat {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}

.kgs-chat ul {
    @extend .list-none;
}
.kgs-chat ul > li > p {
    margin: 0;
}
.kgs-chat ul > li > p + p {
    margin-top: 1rem;
}

.kgs-chat-log, .kgs-chat-members {
    @extend .block-absolute;
    overflow-x: hidden;
    overflow-y: auto;
}
.kgs-chat-log {
    height: auto;
    top: auto;
    max-height: 100%;
    width: 60%;
    right: auto;
}
.kgs-chat-members {
    width: 40%;
    left: auto;
    white-space: nowrap;
}

.kgs-chat-log li {
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
}
.kgs-chat-log li span:first-child {
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
}
.kgs-chat-log li span:nth-child(2), .kgs-chat-members li span:nth-child(2) {
    margin-left: 0.5rem;
    white-space: nowrap;
    font-size: small;
    color: $gray;
    cursor: default;
}
.kgs-chat-log li span:nth-child(2) {
    cursor: help;
}
.kgs-chat-members li {
    margin-left: 0.4rem;
}
