.nav-sidebar {
    @extend .list-none;
    margin: 16px 28px 16px -6px;
}

.nav-sidebar > li > a {
    display: inline-block;
    padding: 2px 0 2px 6px;
    width: 100%;
    border-left: 6px solid $gray-light;
    white-space: nowrap;
    text-decoration: none;
    outline: 0;
}

.nav-sidebar > li > a:hover {
    border-left-color: $gray;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover {
    background-color: $gray-lightest;
    border-left-color: $brand-warning;
    font-weight: bold;
}

.nav-sidebar > li > a:hover {
    background-color: $gray-lightest;
}

.nav-sidebar > li > a:before {
    content: "\f068";
    font-family: FontAwesome;
    padding-right: 10px;
}

.nav-sidebar > .kgs-info > a,
.nav-sidebar > .kgs-info > a:hover {
    border-left-color: $brand-info;
}

.nav-sidebar > li.kgs-info > a:before {
    color: $brand-info;
}

.nav-sidebar > .kgs-warning > a,
.nav-sidebar > .kgs-warning > a:hover {
    border-left-color: $brand-warning;
}

.nav-sidebar > li.kgs-warning > a:before {
    color: $brand-warning;
}

.nav-sidebar > li.kgs-room > a:before {
    content: "\f0c0"; /* fa-users */
}

.nav-sidebar > li.kgs-list > a:before {
    content: "\f00a"; /* fa-th */
}

.nav-sidebar > li.kgs-conversation > a:before {
    content: "\f075"; /* fa-comment */
}

.nav-sidebar > li.kgs-conversation.kgs-info > a:before {
    content: "\f27a"; /* fa-commenting */
}

.nav-sidebar > li.kgs-game > a:before {
    content: "\f111"; /* fa-circle */
}
