#sign-in form {
    max-width: 360px;
    padding: 30px;
    margin: 0 auto;
}

#sign-in h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

#sign-in form input[name=username], #sign-in form input[name=password] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
}

#sign-in .checkbox label {
    margin: 0.5rem 0;
}

#sign-in button[type=submit] {
    margin: 2rem 0 2rem;
}
