.go-board .flex-absolute {
    flex-direction: row;
    margin: auto auto;
    z-index: $zindex-main + 2;
}
.go-board.portrait .flex-absolute {
    flex-direction: column;
}

.go-board .flex-absolute > div {
    position: relative;
    flex: 1 0 auto;
}

@for $i from $go-board-size-min through $go-board-size-max {
    .go-board.go-#{$i} .flex-absolute > div.goban {
        flex: 0 1 ($i * $go-stone-diameter);
        max-width: ($i * $go-stone-diameter);
        max-height: ($i * $go-stone-diameter);
    }
}

.go-board .flex-absolute > div {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.go-board .team-home > div, .go-board .team-away > div {
    @extend .block-absolute;
    overflow: hidden;
}
.go-board.landscape .team-away > div {
    left: auto;
    bottom: auto;
}
.go-board.landscape .team-home > div {
    top: auto;
    right: auto;
}
.go-board.portrait .team-away > div {
    top: auto;
}
.go-board.portrait .team-home > div {
    bottom: auto;
}

.go-board .result-overlay.hidden {
    display: none;
}
.go-board .result-overlay {
    @extend .block-absolute;
    height: 150px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $zindex-main + 3;
    background: top center url("../img/result-overlay.png") no-repeat;
}

.go-board .result-overlay h3, .go-board .result-overlay p {
    text-align: center;
    margin: 0;
}
.go-board .result-overlay p {
    margin-bottom: 8px;
}

.go-board .result-overlay h3 {
    font-size: 18pt;
    font-weight: normal;
    color: $gray-lightest;
}
.go-board .result-overlay.defeat h3 {
    color: $brand-warning;
}
.go-board .result-overlay.victory h3 {
    color: $brand-success;
}
