.go-board {
    @extend .flex-absolute;
    flex-direction: row;
    margin: auto auto;
}
.go-board.portrait {
    flex-direction: column;
}

.go-board > div {
    position: relative;
    flex: 1 0 auto;
}

@for $i from $go-board-size-min through $go-board-size-max {
    .go-board.go-#{$i} > div.goban {
        flex: 0 1 ($i * $go-stone-diameter);
        max-width: ($i * $go-stone-diameter);
        max-height: ($i * $go-stone-diameter);
    }
}

.go-board > div > div {
    @extend .block-absolute;
    left: auto;
    bottom: auto;
}
.go-board.landscape .team-home > div, .go-board.portrait .team-away > div {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
}
