.home-sidebar h3 {
    display: block;
    background-color: $colour-lighter;
    margin-top: 1em;
    margin-right: $view-sidebar-right-margin;
    padding: 0.5em 30px;
    font-size: smaller;
}

.home-sidebar #button-sign-out {
    @extend .block-absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    font-size: 80%;
    background-color: lighten($colour-negative, 20%);
}
