<section data-view="home-sidebar">
    <div class="home-sidebar">
        <h3>Auto-match</h3>
        <div class="automatch">
            <button class="btn btn-primary"><span class="fa-flag-checkered"></span><span>Automatch</span></button>
            <button class="btn btn-link">preferences...</button>
        </div>

        <h3>Global Game Lists</h3>
        <ul class="sidebar-menu">
            <li class="fa-th"><span>Active Games</span></li>
            <li class="fa-th"><span>Open Challenges</span></li>
            <li class="fa-th"><span>Fan Games</span></li>
        </ul>

        <h3>Rooms &amp; Channels</h3>
        <ul class="sidebar-menu">
            <li class="fa-comments"><span>Main</span></li>
            <li class="fa-globe"><span>National</span></li>
            <li class="fa-users"><span>Clubs</span></li>
            <li class="fa-graduation-cap"><span>Lessons</span></li>
            <li class="fa-trophy"><span>Tournaments</span></li>
            <li class="fa-coffee"><span>Social</span></li>
            <li class="fa-asterisk"><span>New</span></li>
        </ul>

        <button class="btn btn-warning btn-sign-out"><span class="fa-sign-out"></span><span>Sign Out</span></button>
    </div>
</section>
